# Variables de entorno — NUNCA subir a GitHub
.env
.env.local
.env.production

# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/
build/